
body{
    font-family: 'Kanit', sans-serif;
    height: auto;
    width: auto;
    background: url(image/bg-home.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    
}
.bg{
  background-color: rgb(170, 170, 170);
}
.container{
  font-family: 'Kanit', sans-serif;
}
.li{
  font-size: 20px;
}
.text-photo{
  margin-top: 1em;
  font-size: 20px;
}
.show-text{
  margin-top: 2em;
}
.text-job{
  margin-left: 1em;
  margin-top: 2em;
}
.text-contact{
  margin-top: 2em;
}
.img{
  width: 40px;
}
.nav-item{
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
}
p{
  font-size: 18px;
  color:black;
}
.strat{
  color: black;
}
.image1{
  width: 220px;

}
h2{
  color: black;
  font-family: 'Kanit', sans-serif;

}
.social_footer_ul{
  display:table; 
  margin:15px auto 0 auto; 
  list-style-type:none; 
  width: 20px;
  height: 30px;
}
footer{
  padding: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  background-color: gray;
  text-align: center;

}


@media screen and (min-width: 992px) {
  .image1{
    width: 250px;
  
  }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .image1{
    width: 200px;
  }
  .about{
    margin-top: 3em;
  }
  .text-job{
    margin-left: 1em;
    margin-top: 1em;
  }
  .text-contact{
    margin-top: 1em;
  }
  
}
@media screen and (max-width: 576px) {
  .image1{
    width: 120x;
  }
  .text-job{
    margin-left: 0em;
    margin-top: 0em;
  }
  .text-contact{
    margin-top: 1em;
  }
  /* .show-text{
    margin-top: 1em;
  } */
    
  
}