body{
    font-family: 'Kanit', sans-serif;
    height: auto;
    width: auto;
    background: url(image/bg-home.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    
}
.container{

    font-family: 'Kanit', sans-serif;
  }
.nav-item{
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
  }
h1{
    font-family: 'Kanit', sans-serif;
    color: black;
}
p{
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    color: black;
  }

.skill{
    margin-top: 2em;
}
.image2{
    border-radius: 5px;
}
.image3{
    border-radius: 5px;
}
@media screen and (min-width: 991px) {
    .image-text{
        margin-bottom: 3em;
    }
    .image1{
        width: 130px;
        margin-top: 0.5em;
    }
    .image2{
        width: 250px;
        margin-top: 0.5em;
    }
    .image3{
        width: 400px;
        margin-top: 0.5em;
    }
    .text1{
        margin-top: 7em;
    }
    .text2{
        margin-top: 1em;
        margin-left: 4em;
    }
    .text3{
        margin-top: 4em;
        margin-left: 4em;
    }
    .text4{
        margin-top: 4em;
        margin-left: 4em;
    }

}

@media screen and (min-width: 576px) and (max-width: 991px) {
    .image1{
        width: 90px;
    }
    .image2{
        width: 200px;
    }
    .image3{
        width: 340px;
        margin-top: 0.5em;
    }
    .text1{
        margin-left: 3em;
    }
    .text2{
        margin-left: 8em;
    }
    .text3{
        margin-left: 8em
    }
    .text4{
        margin-left: 8em
    }

}
@media screen and (max-width: 576px) {
    .image1{
        width: 70px;
    }

    .image2{
        width: 180px;
    }
    .image3{
        width: 320px;
        margin-top: 0.5em;
    }
    
    p{
        font-size: 16px;
    }
}