body{
    font-family: 'Kanit', sans-serif;
    height: auto;
    width: auto;
    background: url(image/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    
}

p{
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
  color:white;
}
.strat{
  color: white;
}
.image1{
  width: 220px;

}
h2{
  color: white;
  font-family: 'Zen Dots', cursive;

  
}
.social_footer_ul{
  display:table; 
  margin:15px auto 0 auto; 
  list-style-type:none; 
  width: 20px;
  height: 30px;
}
.footer-bg{
  background-color: gray;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
/* .bg{
  background-color: aqua;
}
.bg-nav{
  background-color: aqua;
} */



@media screen and (min-width: 992px) {
  .image1{
    width: 250px;
  
  }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .image1{
    width: 200px;
  }
  .about{
    margin-top: 3em;
  }
}
@media screen and (max-width: 576px) {
  .image1{
    width: 120x;
  }
  .show-text{
    margin-top: 3em;
  }
    
  
}