body{
    font-family: 'Kanit', sans-serif;;
/*     height: auto;
    width: auto; */
    background-color: blue;
/*     background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover; */
    
}
.container{
  margin-top: 30px;
  background-color: blue;
}
p{
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
  color:s black;
}
.strat{
  color: black;
}



@media screen and (min-width: 992px) {
  .image1{
    width: 250px;
  
  }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .image1{
    width: 200px;
  }
  .about{
    margin-top: 3em;
  }
}
@media screen and (max-width: 576px) {
  .image1{
    width: 150x;
  }
  .show-text{
    margin-top: 3em;
  }
    
  
}