body{
    font-family: 'Kanit', sans-serif;
    height: auto;
    width: auto;
    background: url(image/bg3-1.jpg);

    background-attachment: fixed;  
    background-size: cover;
    
}
.container{

  font-family: 'Kanit', sans-serif;
}
.nav-item{
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
  }
p{
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    color:s black;
  }
.image1{
    width: 200px;
    margin: auto;
}
.image2{
    width: 105px;
    margin: auto;
    
}
.card{
    margin-top: 3em;
    border-radius: 5px;
}
.card2{
    animation: slideInUp;
    animation-duration: 2s;
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 576px) {


}
@media screen and (max-width: 576px) {
    .image1{
        width: 150px;
    } 
    .image2{
        width: 80px;
    }
    .card{
        margin-top: 5em;
    }
}

